// Color pallet map and function

$colors: (
  primary: rgba(40, 150, 90, 1),
  accent: rgba(0, 141, 213, 1),
  primary-dark: rgba(42, 96, 65, 1),
  base: rgba(17, 17, 17, 1),
  text-: rgba(234, 235, 237, 1),
);

@function color($color-name, $alpha: 1) {
  @return rgba(map-get($colors, $color-name), $alpha);
}
