input {
    width: 100%;
    font-size: 1.2em;
    margin: .3em 0 .6em 0;
}

input.input-button {
    width: 8em;
    height: 3em;
    color: white;
    background-color: #4aaaa5;
}

input.input-button:hover {
    background-color: aqua;
}


textarea {
    resize: none;
    margin: .3em 0 .6em 0;
    font-size: 1.2em;
    width: 100%;
}