input, textarea {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

input:hover, textarea:hover {
    border-color: #4aaaa5;
}

input {
    width: 100%;
    font-size: 1.2em;
    margin: .3em 0 .6em 0;
}

input.input-button {
    width: 8em;
    height: 3em;
    color: white;
    background-color: #4aaaa5;
    border-color: transparent;
}

input.input-button:hover {
    background-color: aqua;
    color: black;
}


textarea {
    resize: none;
    margin: .3em 0 .6em 0;
    font-size: 1.2em;
    width: 100%;
}