body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/full-bloom.png");
    background-repeat: repeat;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#content {
    background-color: white;
}

#content h1 {
    color: #4aaaa5;
}

#content > .container img {
    width: 200px;
    height: 200px;
}

.navbar {
    height: 100px;
    padding: 0;
}

.navbar > .container {
    height: 100%;
    /* width: 960px; /* TODO Media qry */
}

.navbar h1 {
    font-size: 2em;
}

.navbar .navbar-brand {
    height: 100%;
    color: white;
    background-color: #4aaaa5;
}
