body {
    height: 100%;
    width: 100%;
    margin: 0;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/full-bloom.png");
    background-repeat: repeat;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

.navbar {
    width: 100%;
    margin-bottom: 2%;
    padding: 0;
    background-color: white;
}

.navbar-brand {
    margin: 0;
}

.navbar-header {
    height: 100%;
    background-color: #4aaaa5;
}

.navbar-header > a {
    color: white;
    font-size: 2em;
    padding: 20px 15px 20px 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-nav {
    flex-direction: row;
}

.nav-item {
    margin-left: 10%;
    color: #666666;
    font-size: 1.2em;
    text-decoration: none;
}

.nav-item:hover {
    color: #4aaaa5;
}

#content {
    margin-bottom: 20%;
    padding: 2%;
    background-color: white;
    font-size: 1.4em;
}

.page-header {
    font-size: 1em;
    border-bottom: solid #777777 1px;
    margin-bottom: 1em;
}

#content > .container {
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2em;
}

#content .col-sm .col-sm-3 {
    margin-top: 10px;;
}

#content img {
    max-width: 100%;
}

footer {
    height: 70px;
    position: fixed;
    margin: 0;
    bottom: 0;
    border-top: solid #4aaaa5 5px;
    background-color: #666666;
}

footer > div {
    text-align: center;
    color: white;
    margin-top: 20px;
}
