body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/full-bloom.png");
    background-repeat: repeat;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

.navbar {
    width: 100%;
}

.navbar h1 {
    color: white;
}

@media(max-width: 767) {
    .navbar {

    }
}


#content {
    background-color: white;
}

@media(max-width: 767) {
    #content {
        width: 100%;
    }
}

@media(min-width: 768) {
    #content {
        width: 100%;
        margin: 0 2% 0 2%;
    }
}

.page-header {
    font-size: 1em;
}