@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");

$colors: (
  primary: rgba(40, 150, 90, 1),
  accent: rgba(0, 141, 213, 1),
  primary-dark: rgba(42, 96, 65, 1),
  base: rgba(17, 17, 17, 1),
  text-: rgba(234, 235, 237, 1)
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$radius: 15px;
$margin: 10px;
$padding: 10px;

$mobile: 425px;
$tablet: 768px;
$desktop: 1024px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@keyframes ButtonUpAnim {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(0) scale(1.1) translateY(-5px);
  }
  100% {
    transform: rotate(0) scale(1.1) translateY(-5px);
  }
}

@keyframes float {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(-10%);
  }
}

* {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scrollbar-width: none;

  color: color(text-);

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: color(base);
}

#root {
  margin-bottom: 20px;
}

div.container {
  width: 95%;
  margin-left: auto !important;
  margin-right: auto !important;
}

div.container.fluid {
  max-width: 100%;
}

div.container.center {
  text-align: center;
  align-content: center;
}

div.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

button {
  padding: 10px;
  margin: 10px 10px 0 10px;
  border: 1px solid color(primary);
  color: color(text-);
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  border-color: lighten($color: color(primary), $amount: 10%);
}

img.invert {
  -webkit-filter: invert(1);
  filter: invert(1);
}

header.banner {
  height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;

  @include tablet() {
    text-align: center;
  }

  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .head {
    height: 100%;
    background-color: rgbs(color(base), 0.8);

    section.intro {
      height: 50%;
      margin: 10% auto 0 auto;
      padding: $padding;

      .brand {
        color: color(text-);
        font-size: 4rem;

        @include desktop() {
          font-size: 7rem;
        }
      }

      .tagline {
        font-size: 2em;
      }
    }

    .container#badges {
      max-width: 600px;
      margin: auto;

      @include mobile() {
        flex-direction: column;
      }

      .badge {
        text-align: right;

        cursor: pointer;

        @include mobile() {
          margin: $margin auto;
        }

        @include tablet() {
          margin: 0 auto;
          width: unset;
          align-self: flex-end;
        }

        &:hover {
          transform: translateY(-10%);
          transition: all 1s;
          animation: float 2s ease-in-out infinite;
          animation-delay: 0.1s;
        }
      }
    }

    button.scroller {
      margin-top: 10%;
      background-color: rgba(color(primary-dark), 0.3);
      border-color: color(text-);
      transition: all 1s;

      @include mobile() {
        width: 90%;
      }

      &:hover {
        background-color: rgba(color(primary), 0.4);

        transform: translateY(-10%);
        transition: all 1s;
        animation: float 2s ease-in-out infinite;
        animation-delay: 0.1s;
      }
    }
  }
}

nav {
  padding: $padding * 3 auto;
  display: flex;

  background-color: lighten(color(base), 10%);
  border-bottom: 2px solid color(primary);
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;

  & > div > * {
    margin: $margin;
  }
}

div.page {
  div#cards {
    scrollbar-width: none;
    div.card {
      background-color: lighten(color(base), 3%);
      margin: $margin;
      padding: $padding;
      max-width: 300px;
      overflow: hidden;
      cursor: pointer;
      border: 1px solid transparent;

      border-radius: $radius;
      box-shadow: 5px 5px 3px lighten($color: color(base), $amount: 10%);

      &:hover {
        border: 1px solid color(accent);
        box-shadow: 10px 10px 5px rgba(color(primary), 0.2);
        transition: all 0.3s ease-in;
      }

      &.no-info {
        cursor: auto;

        &:hover {
          border: 1px solid red;
          box-shadow: 10px 10px 5px rgba(red, 0.2);
        }
      }

      @include tablet() {
        width: 100%;
        max-width: 100%;
        padding-bottom: 5px;

        display: grid;
        grid-template-columns: 150px auto;
        grid-template-areas: "thumbnail content";

        text-align: left;
      }

      @include desktop() {
        width: 45%;
      }

      img.thumbnail {
        max-width: 150px !important;
        border-radius: $radius;

        @include tablet() {
          float: left;
          margin: auto $margin * 2 auto 0;

          grid-area: thumbnail;
        }
      }

      h1.placeholder {
        font-size: 10rem;
        margin: auto;
      }

      div.content {
        @include tablet() {
          grid-area: content;
        }

        h1 {
          margin: $margin auto;
          width: auto;
        }

        div.links {
          @include tablet() {
            justify-content: flex-start;
          }
          button {
            margin: 0;
            margin-right: $margin;
            padding: $padding / 2;

            text-align: left;

            &:hover {
              color: lighten(color(accent), 10%);
              animation: ButtonUpAnim 2s ease-in;
            }
          }
        }
      }

      div.extra {
        display: none;
      }

      &.open {
        width: 100%;

        div.extra {
          width: 100%;
          display: unset;
          grid-column-start: span 2;

          img {
            width: 100%;
            border-radius: $radius;
            @include mobile() {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
