@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
@-webkit-keyframes ButtonUpAnim {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20% {
    -webkit-transform: rotate(0) scale(1.1) translateY(-5px);
            transform: rotate(0) scale(1.1) translateY(-5px);
  }
  100% {
    -webkit-transform: rotate(0) scale(1.1) translateY(-5px);
            transform: rotate(0) scale(1.1) translateY(-5px);
  }
}
@keyframes ButtonUpAnim {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20% {
    -webkit-transform: rotate(0) scale(1.1) translateY(-5px);
            transform: rotate(0) scale(1.1) translateY(-5px);
  }
  100% {
    -webkit-transform: rotate(0) scale(1.1) translateY(-5px);
            transform: rotate(0) scale(1.1) translateY(-5px);
  }
}

* {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  color: #eaebed;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #111111;
}

#root {
  margin-bottom: 20px;
}

div.container {
  width: 95%;
  margin-left: auto !important;
  margin-right: auto !important;
}

div.container.fluid {
  max-width: 100%;
}

div.container.center {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

div.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

button {
  padding: 10px;
  margin: 10px 10px 0 10px;
  border: 1px solid #28965a;
  color: #eaebed;
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  border-color: #33be72;
}

img.invert {
  -webkit-filter: invert(1);
  filter: invert(1);
}

header {
  padding: 0.6em;
  background-color: #292929;
  border-bottom: 3px solid #28965a;
}

@media (min-width: 768px) {
  header div.container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto;
        grid-template-areas: "brand info";
  }
}

header div.container a.brand {
  text-decoration: none;
  color: #28965a;
  width: 100%;
}

@media (min-width: 768px) {
  header div.container a.brand {
    grid-area: brand;
    text-align: left;
  }
}

header div.container a.brand h1 {
  margin: auto 0;
}

@media (min-width: 768px) {
  header div.container div#info {
    margin: auto 0;
    grid-area: info;
  }
}

header div.container div#info h4 {
  margin: 5px 10px;
}

@media (min-width: 768px) {
  header div.container div#info h4 {
    display: inline;
  }
}

div.page div#badges {
  max-width: 600px;
  margin: 20px auto;
}

div.page div#badges .badge {
  width: 100%;
  margin-top: 10px;
  text-align: right;
  cursor: pointer;
}

@media (min-width: 768px) {
  div.page div#badges .badge {
    margin: 0 auto;
    width: unset;
    text-align: unset;
  }
}

div.page div#cards div.card {
  background-color: #191919;
  margin: 10px;
  padding: 10px;
  max-width: 300px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 3px #2b2b2b;
          box-shadow: 5px 5px 3px #2b2b2b;
}

div.page div#cards div.card:hover {
  border: 1px solid #008dd5;
  -webkit-box-shadow: 10px 10px 5px rgba(95, 95, 95, 0.2);
          box-shadow: 10px 10px 5px rgba(95, 95, 95, 0.2);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

@media (min-width: 768px) {
  div.page div#cards div.card {
    width: 100%;
    max-width: 100%;
    padding-bottom: 5px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 150px auto;
        grid-template-columns: 150px auto;
        grid-template-areas: "thumbnail content";
    text-align: left;
  }
}

@media (min-width: 1024px) {
  div.page div#cards div.card {
    width: 45%;
  }
}

div.page div#cards div.card img.thumbnail {
  max-width: 150px !important;
  border-radius: 15px;
}

@media (min-width: 768px) {
  div.page div#cards div.card img.thumbnail {
    float: left;
    margin: auto 20px auto 0;
    grid-area: thumbnail;
  }
}

div.page div#cards div.card h1.placeholder {
  font-size: 10rem;
  margin: auto;
}

@media (min-width: 768px) {
  div.page div#cards div.card div.content {
    grid-area: content;
  }
}

div.page div#cards div.card div.content h1 {
  margin: 10px auto;
  width: auto;
}

@media (min-width: 768px) {
  div.page div#cards div.card div.content div.links {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

div.page div#cards div.card div.content div.links button {
  margin: 0;
  margin-right: 10px;
  padding: 5px;
  text-align: left;
}

div.page div#cards div.card div.content div.links button:hover {
  color: #09acff;
  -webkit-animation: ButtonUpAnim 2s ease-in;
          animation: ButtonUpAnim 2s ease-in;
}

div.page div#cards div.card div.extra {
  display: none;
}

div.page div#cards div.card.open {
  width: 100%;
}

div.page div#cards div.card.open div.extra {
  width: 100%;
  display: unset;
  -ms-grid-column: span 2;
      grid-column-start: span 2;
}

div.page div#cards div.card.open div.extra img {
  width: 100%;
  border-radius: 15px;
}

@media (max-width: 425px) {
  div.page div#cards div.card.open div.extra img {
    max-width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */