@use "../variables/color" as *;
@use "../variables/basic" as *;

#badges {
  padding: $padding 0;

  .badge {
    cursor: pointer;
    margin: $margin;

    border: 1px solid transparent;
    transition: border-color 1s;

    &:hover {
      border-color: color(accent);
    }
  }
}
