// Styling for the contact-me form

#contact {
  width: 100%;
  position: relative;

  margin-top: $margin;

  // remove outline
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }

  > form {
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    @include desktop() {
      max-width: 50%;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .title {
      width: 100%;
      margin: $margin auto;
      text-align: center;
    }

    div.input-group {
      width: 95%;
      margin: auto;
      display: flex;
      flex-direction: column;

      &.full-width {
        max-width: 95% !important;
      }

      @include desktop() {
        max-width: 45%;
      }

      label {
        text-align: left;
        margin-bottom: $margin / 2;
      }

      input,
      textarea {
        width: 100%;
        margin: $margin auto;
        padding: $padding;

        border: 1px solid color(primary-dark);
        border-radius: $radius / 2;
        background-color: transparent;
        color: color("text-");
        &:focus {
          border-color: color(accent);
        }
      }

      textarea {
        resize: vertical;
      }
    }

    button {
      margin: $margin auto;
    }
  }
}
